*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 100vh;
}

header{
  display: flex;
}


#logo{
  height: 60px;
  width: 100%;
  border: 1px solid #000;
}

#nav{
  border: 1px solid #000;
  height: 60px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


#main{
    height: 100vh;
    width: 100%;
    border: 1px solid #ce1717;
    display: flex;
}

#sidebar{
 
  width: 20%;
  border: 1px solid #509e45;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   
}

#sidebar button{
    padding: 5px;
    width: 100%;
    border-radius: 0;
    height: 90px;
    background-color: #509e45;
}

#content{
    width: 80%;
  border: 1px solid #191fc5;
}


#modal{
  position: absolute;
  top: 25%;

}


form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form>input{
   margin: 20px;

}